/* .Vr {
    text-align: center;
  
    a-scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: 10%;
      overflow: hidden;
    }
  }
  
  .Vr-logo {
    height: 40vmin;
  }
  
  .Vr-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Vr-link {
    color: #09d3ac;
  }
   */